{% extends 'base.html' %}
{% block title %} About Us {% endblock title %}
{% block body %}

<!-- Hero Section -->
<section id="hero" class="hero d-flex align-items-center rounded mb-5">
    <div class="container">
        <div class="row my-4">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up" class="aos-init aos-animate">Dynamics Monk offer modern Solutions for growing your business rapidly</h1>
                <h2 data-aos="fade-up" data-aos-delay="400" class="aos-init aos-animate">We are team of talented designers making websites for your business growth</h2>
                <div data-aos="fade-up" data-aos-delay="600" class="aos-init aos-animate">
                    <div class="text-center text-lg-start">
                    <a href="#" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                        <span>Get Started</span>
                        <i class="bi bi-arrow-right"></i>
                    </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img aos-init aos-animate" data-aos="zoom-out" data-aos-delay="200">
                <img src="/static/images/maintraining3.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>

<!-- About Us -->
<h2 class="divider gradient fst-italic mb-5" contenteditable>About Us</h2>
<section id="about" class="about mb-5">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="row gx-0">
      <div class="col-lg-6 d-flex flex-column justify-content-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
        <div class="content rounded">
          <h1>Who We Are</h1>
          <h2>Expedita voluptas omnis cupiditate totam eveniet nobis sint iste. Dolores est repellat corrupti reprehenderit.</h2>
          <p>
            Quisquam vel ut sint cum eos hic dolores aperiam. Sed deserunt et. Inventore et et dolor consequatur itaque ut voluptate sed et. Magnam nam ipsum tenetur suscipit voluptatum nam et est corrupti.
          </p>
          <div class="text-center text-lg-start">
            <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Read More</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 d-flex align-items-center aos-init aos-animate" data-aos="zoom-out" data-aos-delay="200">
        <img src="/static/images/about.jpg" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<h2 class="divider gradient fst-italic mb-5" contenteditable>Our Testimonals</h2>
<div class="container bgcolor py-5 rounded mb-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="face front-face"> <img src="/static/images/tm1.jpg" alt="" class="profile">
                    <div class="member-info">
                        <h5>Robert Garrison</h5>
                        <span>Android Developer</span>
                    </div>
                </div>
                <div class="face back-face"> <span class="fas fa-quote-left"></span>
                    <div class="testimonial"> I made bacck the purchase price in just 48 hours! Thank you for making it pain less, pleasant. The service was execellent. I will refer everyone I know. </div> <span class="fas fa-quote-right"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="face front-face"> <img src="/static/images/tm2.jpg" alt="" class="profile">
                    <div class="member-info">
                        <h5>Jeffery Kennan</h5>
                        <span>Full Stack Developer</span>
                    </div>
                </div>
                <div class="face back-face"> <span class="fas fa-quote-left"></span>
                    <div class="testimonial"> Really good, you have saved our business! I made bacck the purchase price in just 48 hours! man, this thing is getting better and better as I learn more about it. </div> <span class="fas fa-quote-right"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="face front-face"> <img src="/static/images/tm3.jpg" alt="" class="profile">
                    <div class="member-info">
                        <h5>Issac Maxwell</h5>
                        <span>Finance Director</span>
                    </div>
                </div>
                <div class="face back-face"> <span class="fas fa-quote-left"></span>
                    <div class="testimonial"> Account keeper is the most valuable business research we have EVER purchased. Without electrician, we would ahave gone bankrupt by now. </div> <span class="fas fa-quote-right"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Teams -->
<h2 class="divider gradient fst-italic mb-5" contenteditable>Our Hard Working Team</h2>
<section id="team" class="team mb-5">
    <div class="container rounded bgcolor py-5">
        <div class="row">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="/static/images/t1.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Ashu Garg</h4>
                        <span>Solution Architect</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="/static/images/t2.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Priya Aggarwal</h4>
                        <span>HR Head</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="/static/images/t3.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Vineet Rajora</h4>
                        <span>Associate Consultant</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <div class="member-img">
                        <img src="/static/images/t4.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Komal Jain</h4>
                        <span>Associate Consultant</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}